<!doctype html>
<html ng-app="Freader">
	<head>
		<title>E-paper</title>
        <script src="jquery-1.6.2.min.js"></script>

        <script type="text/javascript">page_no = {{PageNo}};
               logged_in={{logged_as}};
        </script> <!-- Actual connection state directly in the head, so we don't have to get it with an AJAX request -->

        <script type="text/javascript">connected = {{alreadyLogged}};</script> <!-- Actual connection state directly in the head, so we don't have to get it with an AJAX request -->

        <script src="angular.min.js"></script>
		<script src="angular-resource.min.js"></script>
		<script src="webapp.js"></script>
        <link rel="stylesheet" type="text/css"  href="epaper-style.css">
        <link href="css/signin.css" rel="stylesheet">
        <script src="https://apis.google.com/js/client.js" ></script>
		<meta charset="utf-8">
	</head>
	<body ng-view>
        <script type="text/ng-template" id="epaper">
            <body ng-controller="epaperCtrl">
            <table width="1230" border="0" align="center" cellpadding="0" cellspacing="0" ng-init="initialize()"  >
                <tr>
                    <td>
                        <h1 class="main_heading">The E-Paper</h1>

                    </td>
                </tr>
                <tr>
                    <td height="28" align="left" class="sub-nav"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="206" height="28"><img src="images/choose-page.jpg" width="22" height="22" hspace="5" align="absmiddle" />CHOOSE PAGE</td>
                            <td width="2"><img src="images/divider.jpg" width="2" height="28" /></td>
                            <td width="275"><table width="250" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td><img src="images/archive.jpg" width="22" height="22" hspace="5" /></td>
                                    <td>EDITION</td>
                                    <td><select name="textfield2" type="text" class="dropdown-input" id="textfield2" ng-model="myedition" ng-options="edition for edition in editions" ng-change="edition_change()" /></td>
                                </tr>
                            </table></td>
                            <td width="2"><img src="images/divider.jpg" width="2" height="28" /></td>
                            <td width="200"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="32"><img src="images/choose-page.jpg" width="22" height="22" hspace="5" align="absmiddle" /></td>
                                    <td><a href='{{path_name+current_page.pdf}}' target="_blank" >{{download_text}}</a></td>
                                </tr>
                            </table></td>
                            <td width="2"><img src="images/divider.jpg" width="2" height="28" /></td>
                            <td width="200"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="25"><a href="" ng-click="show_search_container()"><img src="images/search.jpg" width="25" height="23" border="0"  /></a></td>
                                </tr>
                            </table></td>

                            <td width="2"><img src="images/divider.jpg" width="2" height="28" /></td>
                            <td width="225"><table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="32"><img src="images/archive.jpg" width="22" height="22" hspace="5" /></td>
                                    <td width="52">ARCHIVE </td>
                                    <td width="162"><select name="textfield3" class="dropdown-input" id="textfield3" ng-model="mydate" ng-options="date for date in dates" ng-change="date_change()"/></td>
                                </tr>
                            </table></td>
                            <td width="2"><img src="images/divider.jpg" width="2" height="28" /></td>
                            <td width="251"><table width="100" border="0" cellspacing="1" cellpadding="0">
                                <tr>
                                    <td ><button ng-click="load_page()" class="date_button">Go</button></td>

                                    <td ><button ng-click="logout()" class="date_button" >SignOut</button></td>

                                </tr>
                            </table></td>
                        </tr>
                    </table></td>
                </tr>
                <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="124" valign="top" class="left-bg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="17" align="center" class="previous"><a href="" ng-click=prev_page()>PREVIOUS</a></td>
                                </tr>
                                <tr>
                                    <td height="1475" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="left-navbg">
                                            <tr>
                                                <td valign="top" class="pageno">
                                                    <div style="height:490px; overflow-y:scroll" align="center">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-repeat="page in pages">
                                                            <tr>
                                                                <td height="23" align="center"><span class="number-bg">{{page.page_no}}</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center"><img class="thumbs" width="80" height="123" src="{{path_name+page.thumbnail}}" ng-click=load_orignal_page(page) /></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="leftnav-links"><select class="list_section" ng-model="mysection" ng-options="section for section in sections" ng-change="section_change()"></select></td>

                                            </tr>

                                            <tr>
                                                <td class="leftnav-links">&nbsp;</td>
                                            </tr>

                                        </table></td>
                                </tr>
                                <tr>
                                    <td height="17" align="center" class="previous"><a href="" ng-click=prev_page() >PREVIOUS</a></td>
                                </tr>
                            </table></td>
                            <td align="center" valign="top" >



                                <div id="loadImg" style="position: relative">

                                    <img src="{{page_image}}"  class="mainimage-border" style="position: absolute;left: 0px;top: 0px"  >
                                    <div class="zoning" ng-repeat="article in current_page.articles">
                                        <div class="boundaries" ng-repeat="coord in article.coords" >
                                            <div id="zones" class="{{article.article_no}}" style="left:{{coord[0]}}px;top:{{coord[1]}}px; height: {{coord[2]}}px; width: {{coord[3]}}px;position:absolute;" ng-click="load_article(article)" onmouseover='highlight(this.className)' onmouseout="unhighlight(this.className)"></div>
                                        </div>
                                    </div>


                                    <!-- search implementations-->

                                    <!-- basic search -->
                                    <div style="position: relative" class="search-container" id="search_container" >
                                        <form ng-submit="search()" class="search_form" name="actionSearch" role="form">
                                            <input type="text" style="width:150px;height:30px" class="form-control" id="search_key" placeholder="Search current day" ng-model="search_key" required>
                                            <button style="width: 60px;height: 30px;justify: center" ng-disabled="actionSearch.$invalid" class="search-button">Search</button>
                                        </form>
                                        <button style="height: 30px;margin-top:10px" class="advanced-search-button" onclick="advanced_search_enable()">Advanced Search</button>
                                    </div>

                                    <!-- Advacned search implementations -->
                                    <div style="position: relative" class="advanced-search-container" id="advanced-search-container">
                                        <form ng-submit="advanced_search()" class="advanced_search_form" id="advanced_search_form" name="actionAdvancedSearch" role="form">
                                            Keyword : <input type="text" style="width:150px;height:30px" class="form-control" id="advanced_search_key" placeholder="Enter keyword" ng-model="advanced_search_key" required>
                                            <br><br>
                                            Edition  :
                                            <select name="advaned_search_edition" id="advanced_search_edition" ng-model="advanced_search_edition" ng-options="edition for edition in search_editions" ng-change="advanced_search_edition_change()">
                                            </select>
                                            <br><br>
                                            Date :
                                            <select name="advaned_search_date" id="advanced_search_date" ng-model="advanced_search_date" ng-options="date for date in search_dates" >
                                            </select>

                                            <br><br>
                                            <button style="width: 120px;height: 30px"  ng-disabled="actionAdvancedSearch.$invalid" class="search-button">Search</button>
                                            <input style="width: 120px;height: 30px"  type="button" onclick="reset_advanced_search()" value="Reset form">
                                        </form>
                                    </div>


                                    <div style="position: relative;" class="search-result-container" id="search_result_container" >
                                        <div class="close_search_results_button">
                                            <a href ="" onclick="close_search_results()"><img src="images/close.jpg"></img></a>
                                        </div>
                                        <h3>Search results :</h3>
                                        <br>
                                        <h4>Search found {{search_articles.length}} results</h4>
                                        <ul class="search_results_displayer" ng-repeat="search_article in search_articles">
                                            <li id="{{search_article.article_no}}"  class="search_article_display">
                                                <a href="" ng-click="load_article(search_article)">{{search_article.article_txt.substring(0,30)}}</a>
                                            </li>
                                        </ul>
                                    </div>


                                </div>



                            </td>
                            <td width="136" valign="top" class="left-bg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="17" align="center" class="next"><a href=""  ng-click=next_page()>NEXT</a></td>
                                </tr>
                                <tr>
                                    <td height="1475" align="center" valign="top" class="right-ads"><img src="images/right-ads.jpg" width="120" height="500" /></td>
                                </tr>
                                <tr>
                                    <td height="17" align="center" class="next"><a href="" ng-click=next_page()>NEXT</a></td>
                                </tr>
                            </table></td>
                        </tr>
                    </table></td>
                </tr>
            </table></td>
            </body>
        </script>


        <script type="text/ng-template" id="loginView">

                <div class="container login-screen" id="loginView" ng-controller="loginCtrl">
                    <CENTER><h2 class="" >Welcome to Epaper</h2></div></CENTER>
                    <table class="signin_container" border="1" align="centre">
                        <tr>
                            <td>

                                <a href="" ng-click="google_login()"><img src="images/sign-google.png" class="google_login" ></img></a>
                                <br> <br>
                                <a href="" onclick="fb_login()"><img src="images/fblogin.jpeg" class="facebook_login" ></img></a>
                                <br> <br>
                            </td>
                            <td>
                            <form ng-submit="action()" class="login-form" name="actionForm" role="form">

                                <p class="errorMsg">{{errorMsg}}</p>
                                <div class="control-group">
                            <input type="email" class="form-control" id="login-name" placeholder="Email" ng-model="email" required autofocus>
                            <br>
                            <label class="login-field-icon fui-user" for="login-name"></label>
                            <br>
                            <input type="password" class="form-control" id="login-pass" placeholder="Password" ng-model="password" required>
                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>
                        <br>
                        <a ng-click="changeAction()" class="actionChange" href=""> {{text.changeAction}}</a><br>
                        <br>
                        <div align="center">
                            <button style="width: 200px;height: 50px;justify: center"   value="{{text.action}}" ng-disabled="actionForm.$invalid" class="btn btn-lg btn-primary btn-block">Sign in</button>
                        </div>

                            </form>
                            </td>
                        </tr>

                    </table>
                </div>


        </script>
		

	</body>
</html>
